@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: auto;
}

nav {
    background-color:rgb(218, 152, 198);
    display: grid;
    grid-template-rows: 30px 1fr 2fr;
    padding-left: 6vh;
    padding-top: 5vh;
    gap: 70px;
}

.main {
    background-color: rgb(250, 240, 186);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.mainContent {
    background-color: rgb(201, 233, 203);
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.icon {
    height: 32px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    color: rgb(0, 0, 0);  
    font-size: 1.4rem;
}



.flex {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100%;    
}

.iconMain {
    height: 32px;
}

.iconMain1 {
    height: 42px;
}

.icon2 {
    height: 52px;
}

.input {
    height: 32px;
    background-color: #f1f5f9;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    padding-left: 20px;
    height: 35px;
    width: 700px;
    color: #666947;
}

.banner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner1 {
    padding-left: 7vh;
}


.ryskus {
    font-size: larger;
    font-weight: 600;
}

button {
    border: none;
    background-color: rgb(164, 209, 167);
    border-radius: 25px;
    padding: 8px 30px;
    font-size: 1.1rem;
    color: #ffffff;
}

.ryskus {
    font-size: 1.4rem;
    font-weight: 600;
}

.banner2 {
    padding-left: 75px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(4, 200px);
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}

.box {
    background-color: aliceblue;
    padding: 1.5rem;
    border-radius: 9px;
    border-left: 7px solid rgb(255,190,188);
    color: rgb(90, 88, 88);
}

.bo, .opa {
    font-weight: 600;
    font-size: large;
    padding-bottom: 3px;
    color: black;
}

.projects h2 {
    padding-left: 4.7rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.rightSide {
    background-color: rgb(201, 233, 203);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem 3rem 0.5rem 0;
    gap: 1rem;
    color: rgb(90, 88, 88);
}

.two {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 6px;
    gap: 10px;
    justify-content: center;
}

.rightSide h2 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: black;
}

.two > div {
    border-bottom:2px solid #b5b8bb;
    padding-bottom: 10px;
}


.trending {
    display: flex;
    gap: 10px;
}

.two1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 6px;
    padding: 25px 10px;
    gap: 15px;
    justify-content: center;
    background-color: aliceblue;
}

.imgMini {
    width: 32px;
    height: 32px;
}

.trendingText {
    width: 100%;
}